<form class="container" #registerForm="ngForm">

    <h4>Please SignUp</h4> 
  
    <!-- Email input -->
    <input 
      type="email" 
      placeholder="email here" 
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      ngModel
      name="email"
      #email="ngModel"
    />
    <h5 class="red-text" [hidden]="email.valid || email.untouched">Enter Correct email</h5>
  
    <!-- Password Input -->
    <input 
      type="password"
      placeholder="Enter password"
      required
      minlength="8"
      ngModel
      name="password"
      #password="ngModel"
    />
    <h5 class="red-text" [hidden]="password.valid || password.untouched">Password is short</h5>
  
    <!-- Buttons -->
    <button class="btn-green" [disabled]="registerForm.invalid" (click)="register(registerForm)">SignUp</button>
    <button class="btn-green" (click)="reset(registerForm)">Reset</button>
  
  </form>
  